<div class="mt-90">
    <section class="container">
        <div class="mt-5 text-center">
            <h1 class="mb-2">Car Transport Services</h1>
            <p>
                Whenever you need to transport your car to some other location, you
                think about hiring one of the best <a href="/car-shipping-service" target="_blank"><b>car shipping</b></a> companies available in
                the market. Since, your car is like your baby, hiring an efficient and
                premium car transport service will share your burden effectively. When
                it comes to the best transport service, you cannot ignore the premium
                quality and service of American Auto Transports. To transport your
                vehicle safely, we are working 24/7 throughout the year to provide the
                best transport service.
            </p>
        </div>

        <div class="mt-3">
            <div class="row">
                <div class="col-lg-6 d-flex justify-content-center align-items-center">
                    <img src="../../../assets/images/states-images/truck4.jpg" alt="img" class="img1" />
                </div>
                <div class="col-lg-6">
                    <h3 class="mt-3 mt-lg-0 d-flex flex-column justify-content-center align-items-center">
                        Table of Contents
                    </h3>
                    <p class="d-flex flex-row justify-content-start">
                        This article includes the following:
                    </p>

                    <ol>
                        <li>How to ship your car?</li>
                        <li>How to ship a car across the country?</li>
                        <li>How much does it cost to ship a car?</li>
                        <li>How long does it take to ship a car?</li>
                        <li>What is the cheapest way to ship a car?</li>
                        <li>Can you ship a car?</li>
                        <li>How can I ship my car to another country?</li>
                        <li>Can I ship a leased car overseas?</li>
                        <li>Can dealers ship cars?</li>
                        <li>How do I track my car shipping?</li>
                    </ol>
                </div>
            </div>
        </div>

        <section class="container mt-5 mb-5 text-center">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <h2 style="color: grey">10,452 +</h2>
                    <a>Satisfied Customers</a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <h2 style="color: grey">16+ Years</h2>
                    <a>Experience</a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <h2 style="color: grey">20,000+</h2>
                    <a>Drivers</a>
                </div>
            </div>
        </section>

        <div class="mt-3">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center">
                    <h3 class="">How To Ship Your Car?</h3>
                    <p>
                        If you want to transport your car, hiring a well-known transport
                        service may seem costly. But, shipping your car by yourself will
                        be something you wouldn’t prefer. As it requires a bunch of time,
                        effort, and money to book a transport carrier and then ship it to
                        your location.Car Shipping by a professional transport service
                        like American Auto Transports saves you time and effort.
                        Shipping a car by American Auto Transports consist of the
                        following steps:
                    </p>

                    <ul>
                        <li>
                            First of all, you will need to get a quote and book an order for
                            our transport service
                        </li>
                        <li>Our experts will analyze your car</li>
                        <li>Your car will be prepared for shipment</li>
                        <li>A transport carrier will come at your door-step</li>
                        <li>The car will be loaded on the carrier</li>
                        <li>Your car will be shipped to your location</li>
                        <li>After arrival, our experts will unload your car.</li>
                    </ul>
                </div>
                <div class="col-lg-6 d-flex justify-content-center align-items-center">
                    <img src="../../../assets/images/truck.jpg" alt="img" class="img1 d-none d-lg-block" />
                </div>
            </div>
        </div>
        <div class="mt-3">
            <div class="row">
                <div class="col-lg-6 d-flex justify-content-center align-items-center">
                    <img src="../../../assets/images/truck.jpg" alt="img" class="img1" />
                </div>
                <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center">
                    <h3 class="mt-3 mt-lg-0">How To Ship A Car Across the Country?</h3>
                    <p>
                        If you are moving to another country or you have purchased a car
                        from a retailer who is based in some other country, hiring our
                        services to ship your car will be something you will prefer to do.
                        The best way to transport your car across the country consists of
                        the following steps:
                    </p>

                    <ul>
                        <li>Determine your shipping destination</li>
                        <li>Decide your pick-up and delivery dates</li>
                        <li>Hire a famous car transport service</li>
                        <li>Get a quote and book an order</li>
                        <li>Get your car analyzed by our experts</li>
                        <li>Get your car picked up and transported to your location</li>
                        <li>How can I ship my car to another country?</li>
                        <li>Can I ship a leased car overseas?</li>
                        <li>Can dealers ship cars?</li>
                        <li>How do I track my car shipping?</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="mt-5">
            <h3 class="text-center">How much does it cost to ship a car?</h3>
            <p class="px-3 text-center">
                In case, you are wondering what is the cost to transport your car, it
                depends on many factors. Some of these are:
            </p>

            <div class="row">
                <div class="col-lg-4">
                    <div class="text-center">
                        <img src="../../../assets/images/states-images/distance.png" alt="img" class="iccon" />
                    </div>
                    <h5 class="text-center">Distance</h5>
                    <p class="px-4">
                        The cost per mile varies depending on the distance. Inside the
                        country, the cost per mile is around $ 1.5 for a distance of fewer
                        than 200 miles. But if you are shipping across the country, the
                        cost per mile decreases to a larger extent. So, the more is the
                        distance, the more discount per mile you’ll get.
                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="text-center">
                        <img src="../../../assets/images/states-images/deliveryMode.png" alt="img" class="iccon" />
                    </div>

                    <h5 class="text-center">Type of transport:</h5>
                    <p class="px-4">
                        The most common and budget-friendly type of transportation is open
                        transport but there are chances of potential damage to your car
                        from environmental factors. So, if you want your car to be
                        transported safely, you must go for an enclosed <a href="/car-shipping-service" target="_blank"><b>car shipping
                            service</b></a>.
                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="text-center">
                        <img src="../../../assets/images/states-images/typeoftransport.png" alt="img" class="iccon" />
                    </div>
                    <h5 class="text-center">Car type:</h5>
                    <p class="px-4">
                        Small cars cost less due to their lighter weight while, on the
                        other hand, huge and heavy cars demand high prices for
                        transportation. Those cars which require special care like sports
                        cars cost the highest for shipping across the country.
                    </p>
                </div>
            </div>
        </div>
            <section class="pt-5">
                <div class="bg-dark container">
                    <div class="row">
                        <div class="col-lg-6 col-6 col-md-6 col-sm-6 d-flex justify-content-center align-items-center">
                            <h3 class="text-white headingBar">
                                35% OFF For the next 24 hours
                            </h3>
                        </div>

                        <div class="col-lg-6 col-6 text-center col-md-6 topMar col-sm-6">
                            <div class="text-center ms-5 mt-3 mb-4 end-0">
                                <a class="Call widthSet" href="tel:+1 (818) 760-5145">
                                    (818) 760-5145
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        <div class="mt-3">
            <h3 class="text-center">How Long Does It Take To Ship A Car?</h3>
            <p class="px-5">
                On average, car transporters take 7-10 days to transport your car
                across the country. But, the total number of days for transporting
                your car to a reliable <a href="/car-shipping-service" target="_blank"><b>car shipping</b></a> company depends on many factors.
                Some of the most prominent factors are as follows:
            </p>

            <div class="row mt-3">
                <div class="col-lg-4 d-flex justify-content-center align-items-center">
                    <img src="../../../assets/images/states-images/customerService Png.png" alt="img"
                        class="img55" />
                </div>
                <div class="col-lg-8 d-flex flex-column justify-content-center align-items-center">
                    <h5 class="px-3">Distance</h5>
                    <p class="px-5">
                        It is quite obvious that depending upon the distance between two
                        locations, the time to ship your car will also vary. For a
                        distance of a few hundred miles, it takes almost 3-4 days on
                        average but in the case of shipping across the country, the period
                        increases from 8-9 days on average.
                    </p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-8 d-flex flex-column justify-content-center align-items-center">
                    <h5 class="px-3">Car type</h5>
                    <p class="px-5">
                        Depending on the type of your car, the time to deliver also
                        changes. For example, if you want to transport a small and
                        light-weight car, it will be easy for a transport company to ship
                        it to your location in no time. While on the other hand, if you
                        have to transport a luxury vehicle or a heavy vehicle, you’ll need
                        time to find an efficient service capable enough to transport your
                        vehicle safely.
                    </p>
                </div>
                <div class="col-lg-4 d-flex justify-content-center align-items-center">
                    <img src="../../../assets/images/states-images/customerService Png.png" alt="img"
                        class="img55 d-none d-lg-block" />
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-6">
                    <img src="../../../assets/images/states-images/American Auto Transports- first choice for transportation.jpg"
                        alt="img" class="d-none d-lg-block" />
                </div>
                <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center">
                    <h2 class="px-3">Conclusion</h2>

                    <p class="px-5">
                        In short, hiring a professional and credible shipping service like
                        American Auto Transports saves you time and money. If you are
                        interested in shipping your car to another part of the country or
                        across borders, just get a quote and book an order on our website.
                        You can give us a call at (818) 760-5145 for further details and
                        information from our experts.
                    </p>
                </div>
            </div>
        </div>

        <section class="container">
            <div class="w-100 align-w3 py-3">
                <div class="">
                    <a class="sub-title">Frequently Asked Questions</a>
                    <h4 class="w3pvt-title">Have Any Question?</h4>
                </div>
                <div class="accordion faq" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button acrd-btn" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                What Is The Cheapest Way To Ship A Car?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div itemprop="text">
                                    <p>
                                        <a href="/car-shipping-service" target="_blank"><b>Car shipping</b></a> rates vary greatly depending upon the type of
                                        transport you choose. Enclosed car transport costs much
                                        more than open car shipping. So, if you are looking for an
                                        affordable and cheap way of shipping your car, you must go
                                        for open transport. But, in open transport, there is a
                                        potential risk of damage to your car by environmental
                                        factors. If you want to ship a luxury car, enclosed car
                                        shipping will be the best option.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Can You Ship A Car?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div itemprop="text">
                                    <p>
                                        Yes, we do. American Auto Transports have the expertise
                                        in easy car shipping for our clients. Our core value is to
                                        provide the best <a href="/car-shipping-service" target="_blank"><b>car shipping service</b></a> to our customers. If
                                        you are looking for an expert car shipping company, hiring
                                        American Auto Transports will be a wise decision to
                                        make. If you want to ship your car, just get a quote and
                                        book an order for safe and affordable transport of your
                                        car.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                How Can I Ship My Car To Another Country?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div itemprop="text">
                                    <p>
                                        You can not transport your car to another country on your
                                        own. You’ll need to acquire the services of a reputable
                                        car shipping company for shipping a car across the
                                        country. Shipping your car by yourself requires time,
                                        effort, and knowledge of the field. So, you need to
                                        acquire our services for efficient and quick transport of
                                        your car to another country.
                                    </p>

                                    For further details and information, Call us at
                                    <b> <a href="tel:+1 (818) 760-5145">(818) 760-5145</a> </b>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading4">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                Can I Ship A Leased Car Overseas?
                            </button>
                        </h2>
                        <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div itemprop="text">
                                    <p>
                                        No, you cannot transfer a leased car to another company.
                                        You can ship your car to another country which means that
                                        if you are the legal owner of a car, you are allowed to
                                        ship it overseas. While, in the case of a leased car, even
                                        though you’re the registered owner of the car, the legal
                                        owner is the leasing company. So, you are prevented from
                                        shipping a leased car across the country.
                                    </p>

                                    For further details and information, Call us at
                                    <b> <a href="tel:+1 (818) 760-5145">(818) 760-5145</a> </b>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading5">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                Can Dealers Ship Cars?
                            </button>
                        </h2>
                        <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div itemprop="text">
                                    <p>
                                        Yes, dealers are willing to ship your car to wherever you
                                        live. A car being shipped to your doorstep by the
                                        dealership is convenient and comfortable. Whatever your
                                        location is, dealers transport your car to your location.
                                        But, keep in mind that dealerships do not offer this
                                        facility free. They do charge a specific amount for
                                        shipment.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading6">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                How Do I Track My Car Shipping?
                            </button>
                        </h2>
                        <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div itemprop="text">
                                    <p>
                                        American Auto Transports understand the need for the
                                        customers to track and have a record of their shipment.
                                        Being the best <a href="/car-shipping-service" target="_blank"><b>car shipping</b></a> company, we provide specific
                                        tracking numbers for our customer to track their shipment.
                                        You can use those tracking numbers by visiting our website
                                        to track the location of your shipment.
                                    </p>

                                    For further details and information, Call us at
                                    <b> <a href="tel:+1 (818) 760-5145">(818) 760-5145</a> </b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>