.form {
    position: absolute;
    z-index: 1234;
    padding: 0 150px;
    border-radius: 5px;
}
.slide_text {
    position: absolute;
    top: 50px;
}
.lable{
    margin-right: 20px;
}
.fw-600{
    font-weight: 600;
}
