#more {
    display: none;
  }
  p {
    font-size: 16px !important    ;
  }
  .opacityColor {
    background-color: #000000;
  }
  .sCustomers {
    color: grey !important;
  }
  .inner-banner-1 {
    background:linear-gradient(#ffffff59, rgba(255, 255, 255, 0)), url('../../assets/images/banners/banner2.jpg') no-repeat center;
    background-size: cover;
    box-shadow: 250px 250px 250px 250px #0000009e inset;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    position: relative;
    height: 600px;
    z-index: 1;

}
  .inner-banner {
    /* width: 100%;
            height: 100%;
            box-shadow: inset 3px 3px 10px 0 #b30606;
            border-radius: 20px;
            top: 0;
            left: 0;
            -webkit-box-shadow: 10px 10px 5px #ccc; */
    box-shadow: inset 3px 3px 10px 0 #b30606;
    opacity: 0.3;
    background-color: #45517a;
  }
  .paraBorder {
    border-bottom: 1px solid #dedbdb;
  }
  .bgCOLOR1 {
    border: none;
    background: #e20074;
    color: #fff;
    padding: 9px 20px;
    font-size: 14px;
    border-radius: 0px;
    -webkit-border-radius: 20px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    text-transform: capitalize;
    font-weight: 500;
  }
  .bgCOLOR1:hover {
    background-color: black !important;
  }
  
  .card {
    border-radius: 25px !important;
  }
  .card11 {
    border-radius: 25px !important;
    border: black;
  }
  .card111 {
    border-radius: 25px !important;
    background-image: linear-gradient(to right, #586872, #8b8bb9) !important;
  }
  .card111:hover {
    background-image: linear-gradient(to right, #255574, #4a4a97) !important;
    color: white;
  }
  
  .bikeImg {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .box-shadow {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.08);
    transition: box-shadow 0.3s ease-in-out;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bolder !important;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 28px;
  }
  h5 {
    font-size: 24px;
  }
  h6 {
    font-size: 20 px;
  }
  .img3 {
    width: 90%;
    height: 180px;
    border-radius: 10px;
  }
  .marginBottom {
    margin-bottom: 100px;
  }
  .marginStart {
    margin-left: 30px !important;
  }
  .ss7 {
    color: white;
  }
  .img2 {
    width: 100%;
    height: 200px;
    border-radius: 10px;
  }
  @media (max-width: 990px) {
    .img2 {
      display: none;
    }
  }
  
  h5 {
    font-size: 25px;
  }
  .transx {
    animation-name: moveinLeft;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-timing-function: ease-out;
  }
  @keyframes moveinLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    80% {
      transform: translateX(10px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .setPadding {
    padding: 40px;
  }
  .setPadding6 {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 70px;
  }
  
  .setPadding5 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
  
  .card11:hover > div > h3 {
    color: #e20074 !important;
    text-align: center;
  }
  .card11:hover {
    color: black;
  }
  
  
  
  .setPadding11 {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-bottom: 30px;
  }
  .setPadding2 {
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 30px !important;
  }
  .flex-grid {
    display: flex;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .boxShadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 220px !important;
    width: 400px !important;
    background-color: white !important;
  }
  .card1,
  .card11 {
    border-radius: 25px !important;
    max-width: 550px !important;
  }
  .colorcheck {
    width: 100% !important;
    background-color: whitesmoke;
  }
  a{
    text-decoration: none;
    color: #000000;
  }
  .bgCOLOR1 {
    border: none;
    background: #e20074;
    color: #fff;
    padding: 9px 35px;
    font-size: 20px;
    border-radius: 0;
    -webkit-border-radius: 20px;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    font-weight: 500;
  }
  .Closedd {
    background-color: navy !important;
  }
  
  .Call{
    border: 2px solid #00a431;
    background: #00a431;
    color: #fff !important;
    padding: 9px 35px;
    font-size: 20px;
    border-radius: 0px;
    -webkit-border-radius: 20px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    text-transform: capitalize;
    font-weight: 500;

}
.Call:focus{
box-shadow: none;
}
  .s2,
  .s3,
  .s4,
  .s5,
  .s6,
  .s7,
  .s8,
  .si9 {
    margin-top: 35px;
  }
  p{
    text-align: left;
  }
  .footer {
    z-index: 2;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
  }
  .fixP {
    position: fixed;
    right: 0;
    max-height: 250px;
    overflow-y: auto;
  }
  .bikeImg {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .checkthis {
    background-color: #33475b;
    color: #fff !important;
    p{
      color: #fff !important;
    }
  }
  
  .borderRightc {
    border-right: 2px solid white;
  }
  @media (max-width: 1199px) {
    .si9 {
      width: 1000px;
    }
    .boxes {
      max-width: 400px !important;
      max-height: 400px !important;
    }
    .boxShadow {
      box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
      height: 300px !important;
      width: 400px !important;
      background-color: white !important;
    }
  }
  @media (max-width: 990px) {
    .borderRightc {
      border-bottom: 2px solid white !important;
      border-right: 0;
    }
    .headingBar {
      display: flex;
      text-align: center;
    }
    .s8 {
      /* height: inherit; */
  
      display: flex;
  
      text-align: center;
    }
    .si9 {
      width: 500px;
      margin: auto !important;
    }
    .boxes {
      max-width: 400px !important;
      max-height: 400px !important;
      margin-bottom: 25px !important;
    }
    .boxShadow {
      box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
      height: 300px !important;
      width: 400px !important;
      background-color: white !important;
    }
  }
  @media (max-width: 768px) {
    .adjustSize {
      font-size: 15px !important;
    }
  }
  @media (max-width: 576px) {
    .adjustSize {
      font-size: 12px !important;
    }
    .paraBorder {
      display: none;
    }
    .s8 {
      display: flex;
  
      text-align: center;
    }
    .si9 {
      width: 500px;
      margin: auto !important;
    }
    .boxes {
      max-width: 400px !important;
      max-height: 400px !important;
      margin-bottom: 25px !important;
    }
    .boxShadow {
      box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
      height: 300px !important;
      width: 400px !important;
      background-color: white !important;
    }
  }
  
  @media (max-width: 990px) {
    .margingive {
      margin-bottom: 20px !important;
    }
    .setPadding5 {
      margin: 0px;
    }
    .setPadding6 {
      padding-top: 0px;
      padding-left: 0px;
      padding-bottom: 0px;
      padding-right: 0px;
    }
  }
  
  p {
    font-size: 18px !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold !important;
  }
  @media (max-width: 1024px) {
    .setPadding1 {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 15px;
      padding-bottom: 15px;
  }
  .checkthis{
    clip-path: none;
  }
  }
  @media (max-width: 576px) {
    .p-5{
      padding: 0 !important;
    }
    .inner-banner-1{
      margin-top: 76px;
    }
    .abcd{
      flex-direction: column;
    }
    .bgCOLOR1{
      padding: 9px 20px ;
    }
  }