<!-- inner banner -->
<div class="inner-banner-w3ls d-flex flex-column justify-content-center align-items-center">
</div>
<!-- //inner banner -->
<!-- breadcrumbs -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb d-flex justify-content-center">
        <li class="breadcrumb-item">
            <a routerLink="">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Why Us?</li>
    </ol>
</nav>
<!-- //breadcrumbs -->
<div class="container content">
    <div class="align">
        <h2>Why do customers choose American Auto Transports?</h2>
        <p>We want our customers to be fully satisfied and nothing makes us happier than getting positive car transport
            reviews year after year!</p>
        <h1>Five-star auto transport reviews</h1>
    </div>
    <div>
        <div class="transporter">
            <img src="../../assets/images/reviews.png" alt="review">
            <p><span>4.7</span> Our reputation from auto transporter reviews</p>
        </div>
        <div class="reviews">
            <div class="review-one">
                <div class="one">
                    <img src="../../assets/images/rating.png" alt="img">
                    <p> <span>10000+</span> American Auto Transports Auto Transport reviews</p>

                </div>
                <div class="two">
                    <img src="../../assets/images/platform.png" alt="img">
                    <p> <span>20+</span> Review platforms</p>
                </div>
            </div>
            <div class="review-two">
                <div class="three">
                    <img src="../../assets/images/customer.png" alt="img">
                    <p> <span>5000+</span> Satisfied customers</p>
                </div>
                <div class="four">
                    <img src="../../assets/images/calendar.png" alt="img">
                    <p> <span>15+</span> Years of experience</p>
                </div>
            </div>

        </div>



    </div>
    <div class="growing">
        <h1>
            We are growing into one of the most reputable auto transport company in the market!
        </h1>
        <h3>
            WHY CHOOSE American Auto Transports?
        </h3>
        <p>American Auto Transports is the industry leader in vehicle transportation. We are passionate with the client
            experience and want to keep things simple and straightforward. To ensure that no task is out of reach for
            our customers, we cooperate with the broadest countrywide network of carriers. Our team has over 15+ years
            of vehicle shipping expertise, so you can count on us to get the job done well! We value our reputation,
            which is why you'll find 5-star reviews all over the internet.</p>
    </div>

</div>