<div class="mt-70">
    <div class="inner-banner-1">
        <app-booking-request></app-booking-request>
    </div>
<section class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-7 col-md-7 col-xl-7 col-xxl-7 col-sm-12 col-12 setPadding1">
            <h1>Car Shipping Florida to New York</h1>
            <p>
                New York and Florida share many similarities. Both are in the same
                time zone and border the Atlantic Ocean. Both have a diverse
                population and are historic settling areas for those looking to
                build a new life in America. Both must cope with weather extremes.
                And many people live in both states - many Floridians become
                snowbirds in New York and Vice Versa during the chilly northeastern
                winter months.
            </p>
            <p>
                In terms of population, both states are comfortably in the Top 5 -
                New York has just over 20 million citizens, while Florida has
                surpassed 21 million in the most recent census! As a result, the
                Florida to New York transit route is a popular, high-traffic route
                that attracts the attention of vehicle shipping companies across the
                country.
            </p>
            <!-- <div [ngClass]="{ limitTextHeight: isReadMore }">
                <p></p> -->
                <p>
                    When you uproot your life from Florida and relocate to New York
                    and vice versa, you will be transporting boxes full of your stuff
                    to your new home. You will also need to ship your car from Florida
                    to New York or from New York to Florida and other minor items.
                    Finding the safest and most reliable option to move an automobile
                    to another state ensures that your vehicle arrives safely.
                </p>
            <!-- </div> -->
            <!-- <div class="mb-3 mt-2 btnCenter">
                <button type="button" (click)="showText()" id="myBtn" class="bgCOLOR1">
                    Read more
                </button>
            </div> -->
        </div>

        <div class="col-lg-5 d-flex justify-content-center align-items-center">
            <img src="../../assets/images/states-images/truck2.png" class="w-100 d-none d-lg-block" alt="img" />
        </div>
    </div>
</section>

<section class="container s5">
    <div class="row">
        <div
            class="col-lg-5 col-md-5 col-xl-5 col-xxl-5 col-sm-12 col-12 d-flex justify-content-center align-items-center">
            <img src="../../assets/images/states-images/door-to-door-blog.jpg" alt="img" class="w-100" />
        </div>
        <div class="col-lg-7 col-md-7 col-xl-7 col-xxl-7 col-sm-12 col-12 setPadding1">
            <h3 class="heade">
                Best Car Shipping Company to Ship a Car from Florida to New York
            </h3>

            <p class="mt-3">
                If you are shipping your vehicle from Florida to New York and vice
                versa, you should go with a company with auto transport experience.
                American Auto Transports is the most reliable, secure, and
                pocket-friendly way.
            </p>
            <p>
                We have much expertise in offering vehicle transport services in
                Florida and New York, and we are regarded as the best auto shipping
                company in Florida and New York.
            </p>
            <!-- <div [ngClass]="{ limitTextHeight: isReadMore2 }">
                <p></p> -->
                <p>
                    American Auto Transports offers fast pick-up and delivery,
                    insurance, <a href="/Door-to-door-auto-transport"><b>door-to-door service</b></a>, load tracking, and money-back
                    guarantees. Our objective is to give our clients the most
                    affordable Orlando FL to New York and New York to FL auto shipping
                    quotes and the best customer care from beginning to end.
                </p>
            <!-- </div> -->
            <!-- <div class="mb-3 mt-2 btnCenter">
                <button type="button" (click)="showText2()" id="myBtn" class="bgCOLOR1">
                    Read more
                </button>
            </div> -->
        </div>
    </div>
</section>

<section class="container mt-5 mb-5 text-center">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            <h2 class="gColor">10,452 +</h2>
            <a>Satisfied Customers</a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            <h2 class="gColor">16+ Years</h2>
            <a>Experience</a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            <h2 class="gColor">20,000+</h2>
            <a>Drivers</a>
        </div>
    </div>
</section>

<section class="container s5">
    <div class="row">
        <div class="col-lg-7 col-md-7 col-xl-7 col-xxl-7 col-sm-12 col-12 setPadding1">
            <h3 class="heade">
                Affordable Car Shipping From Orlando, FL to New York
            </h3>

            <p class="mt-3">
                American Auto Transports is dedicated to giving our customers in
                Orlando, FL, and New York an exceptional experience. Our goal is to
                exceed your expectations rather than simply fulfill them. American Auto Transports
                Transport Solutions has received recognition for our outstanding
                commitment to our customers. When you utilize our auto shipping
                services from Orlando, FL to New York, you can expect nothing but
                the best and be treated with great customer service.
            </p>
        </div>
        <div
            class="col-lg-5 col-md-5 col-xl-5 col-xxl-5 col-sm-12 col-12 d-flex justify-content-center align-items-center">
            <img src="../../assets/images/states-images/American Auto Transports- first choice for transportation.jpg" alt="img"
                class="w-100 d-none d-lg-block" />
        </div>
    </div>
</section>
<section class="container s5">
    <div class="row">
        <div
            class="col-lg-5 col-md-5 col-xl-5 col-xxl-5 col-sm-12 col-12 d-flex justify-content-center align-items-center">
            <img src="../../assets/images/states-images/Cheapest Car Shipping Company.jpg" class="w-100" alt="img" />
        </div>
        <div class="col-lg-7 col-md-7 col-xl-7 col-xxl-7 col-sm-12 col-12 setPadding1">
            <h3 class="heade">Cost to Ship a Car from Florida to New York</h3>

            <p class="mt-3">
                When evaluating the cost to transport a car from Florida to New York
                and vice versa, several aspects must be considered, including the
                number of miles from the pick-up site, the size and kind of vehicle,
                the season when most people travel or least, the time of year, the
                type of terrain encountered, and much more.
            </p>
            <p>
                Based on user-entered estimates, the average cost to ship a car from
                Florida to New York is $705. Use our online calculator to get a free
                and instant quote for car shipping from Florida to New York.
            </p>
        </div>
    </div>
</section>

<section class="aColor">
    <div class="container rounded">
        <div class="mt-5">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 mt-4">
                    <h3 class="px-1">
                        How long does it take to Ship a Car from Florida to New York?
                    </h3>
                    <p class="px-4">
                        The first step is to have your car picked up, taking anywhere
                        from 1 to 5 business days. Furthermore, it takes around 20 hours
                        to drive from Florida to New York and vice versa in an ideal
                        condition. Because American Auto Transports has skilled
                        drivers that are used to traveling long distances, they know how
                        it would take your automobile to get to its destination.
                    </p>
                    <p>
                        It is also important to keep in mind that natural disasters,
                        environmental concerns, detours, traffic, and other
                        circumstances may cause the New York to Florida car shipping.
                    </p>
                    <div class="text-center mb-4">
                        <a class="btn text-center text-nowrap bgCOLOR1" (click)="getQuote()">
                            Get a Quote
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 mt-4">
                    <h3 class="px-1">
                        What is the best time to ship a car from Florida to New York?
                    </h3>
                    <p class="px-4">
                        The beginning and end of "snowbird season" are the busiest times
                        of the year for auto shipment on the East Coast. The season
                        begins when the weather in New York begins to cool, usually
                        around the beginning to middle of October, and ends around late
                        March/early April, when snowbirds depart Florida to return to
                        New York.
                    </p>
                    <p>
                        To escape the rush and premium costs, September is the best and
                        optimal time to transport your car from Florida to New York.
                    </p>
                    <div class="text-center mb-4">
                        <a class="btn text-center text-nowrap bgCOLOR1" (click)="getQuote()">
                            Get a Quote
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="aColor">
    <section class="s11 container-fluid mt-0 checkthis text-white">
        <div class="p-3">
            <div class="d-block align-items-end">
                <h2 class="text-center text-white">
                    What Car Shipping Services do we Offer from Florida to New York ?
                </h2>
            </div>
        </div>
        <div class="row setPadding1">
            <div class="col-lg-6 borderRightc">
                <h3 class="text-white">Enclosed Auto Transport to Montana</h3>
                <div class="px-2">
                    <p class="mt-2 text-white">
                        American Auto Transports offer you <a class="text-white" href="/enclosed-autotransport"><b>enclosed auto transport</b></a> as
                        to transport your vehicle safely is our priority. However, this
                        is a far safer method of transporting autos from New York to
                        Florida. <a class="text-white" href="/enclosed-autotransport"><b>Enclosed auto transportation</b></a> protects your vehicle from
                        outside elements such as stones, gravel, dust, water, and even
                        road debris. As a result, owners of ancient, rare, or
                        ultra-luxurious and expensive cars prefer this medium, where
                        paying 30-40% more is not an issue because it will safeguard the
                        high-end car.
                    </p>

                    <div class="d-flex justify-content-center align-items-center mb-3">
                        <div class="d-flex justify-content-center">
                            <div >
                                <a class="btn d-none d-lg-block Call text-nowrap colorDark"
                                    href="tel:+1 (339) 237-3082">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-telephone d-xs-none" viewbox="0 0 16 16">
                                        <path
                                            d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                                    </svg>
                                    (339) 237-3082
                                </a>
                            </div>
                            <div class="ms-1">
                                <button class="btn text-nowrap bgCOLOR1" (click)="getQuote()">
                                    Get a Quote
                                </button>
                            </div>
                        </div>
                    </div>
                    <p class="text-white">
                        When exporting your car via enclosed auto transport, we have two
                        options:
                    </p>
                    <h5 class="text-white">Soft-Sided Enclosed Auto Transport —</h5>
                    <p class="px-3 text-white">
                        The strong fabric that covers the carriers protects your car
                        from wind-blown debris, rain, sleet, and snow, among other
                        things.
                    </p>
                </div>
            </div>
            <div
                class="col-lg-6 d-block justify-content-center align-items-center col-md-12 col-xl-6 col-xxl-6 col-sm-12 col-12 transx">
                <div class="text-center mt-4 mt-lg-0">
                    <img src="../../assets/images/states-images/car-auto-transport.jpg" alt="img" class="w-100" />
                </div>

                <h5 class="text-white">Hard-Sided Enclosed Auto Transport —</h5>
                <p class="px-3 text-white">
                    In addition to the benefits afforded by soft-sided carriers,
                    hard-sided carriers protects your vehicle in the unlikely event
                    that it sustains damage during transit.
                </p>
            </div>
            <section>
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-5 p-xl-5">
                        <img src="../../assets/images/states-images/truck3.jpg" alt="img" class="w-100" />
                        <div class="p-3 text-white">
                            <h3 class="text-white" >Open Auto Transport to Montana</h3>
                            <p class="px-2 text-white">
                                American Auto Transports also offers <a class="text-white" href="/open-vehicle-transport"><b>Open Auto Transport</b></a> 
                                Service. This is the most commonly used type of auto
                                shipping service used due to its cost-effective and
                                affordable nature. This form of car hauler service involves
                                putting 1-2 cars on a solid trailer and securing them with
                                safety belts and other equipment. The trailer is completely
                                open on all sides, and you can easily reserve a place to
                                ship your car from Florida to New York and vice-versa.
                            </p>
                            <p class="text-white">
                                Although this is an inexpensive and quick way to ship your
                                car, it does carry some danger because your car is exposed
                                to factors in the environment such as stones, water, and
                                dust.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5 p-xl-5">
                        <img src="../../assets/images/states-images/truck5.jpg" class="w-100" alt="img" />
                        <div class="p-3">
                            <h3 class="text-white">Luxury Vehicle Transportation</h3>
                            <p class="px-2 text-white">
                                When you’re moving something as valuable as your luxury car,
                                you want to know it’s in the right hands. American Auto Transports
                                Solutions is your best option for reliable, professional,
                                and secure luxury vehicle shipping services. We Specialize
                                in Luxury Vehicle Transportation.
                            </p>
                        </div>
                    </div>
                </div>
                <section class="pt-5">
                    <div class="bg-dark container">
                        <div class="row">
                            <div class="col-lg-6 col-6 col-md-6 col-sm-6 d-flex justify-content-center align-items-center">
                                <h3 class="text-white headingBar">
                                    35% OFF For the next 24 hours
                                </h3>
                            </div>

                            <div class="col-lg-6 col-6 text-center col-md-6 topMar col-sm-6">
                                <div class="text-center ms-5 mt-3 mb-4 end-0">
                                    <a class="btn Call widthSet" href="tel:+1 (339) 237-3082">
                                        (339) 237-3082
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="row p-5 d-flex justify-content-center">
                    <div class="col-lg-5 align-items-center my-auto justify-content-center">
                        <img src="../../assets/images/states-images/truck1.jpg" alt="img" class="w-100" />
                    </div>
                    <div class="col-lg-6">
                        <h3 class="text-white" >Door-to-Door Car Shipping to Montana</h3>
                        <p class="text-white">
                            American Auto Transports offers <a href="/Door-to-door-auto-transport"><b>door-to-door auto-shipment</b></a>
                            service from any residential or commercial site in Florida and
                            New York. Before your car is picked up for shipping from
                            Florida or New York , it will be thoroughly inspected to
                            record its current condition and safely loaded onto the car
                            carrier, as it is now ready for transport.
                        </p>
                        <p class="text-white">
                            Our door-to-door <a href="/car-shipping-service"><b>car shipping service</b></a> is by far the most
                            convenient. We can easily transport an automobile from Florida
                            to New York and vice-versa, so don't be afraid to supply us
                            with the pick-up or delivery address once you receive our
                            low-cost price.
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </section>
</section>
<section class="aColor">
    <section class="container text-left">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-xl-7 col-xxl-7 col-sm-12 col-12 setPadding1">
                <h2 class="text-left">
                    Why Choose American Auto Transports Car Shipping From Florida
                    to New York?
                </h2>
                <p>
                    Auto transport companies numerous and are very competitive. It can
                    be tough to choose the best vehicle transporter to transfer your
                    car from Orlando, FL to New York (and vice versa). That is why
                    American Auto Transports Transfer Solutions strives to make your decision to choose
                    our vehicle transport services as simple as possible.
                </p>
                <p>
                    We strive to be the best auto transport company in the industry,
                    supplying our clients with an elite group of vehicle transporters
                    throughout the lower 48 states. Our objective at American Auto Transports
                    Solutions is to provide you with affordable automobile transport
                    services.
                </p>

                <a class="btn bgCOLOR1" (click)="getQuote()"> Get a Quote </a>
            </div>

            <div class="col-lg-5 d-flex justify-content-center align-items-center">
                <img src="../../assets/images/states-images/Truck-PNG-Image.jpg" alt="img" class="w-100" />
            </div>
        </div>
    </section>
</section>

<section class="container s5">
    <div class="row">
        <div class="col-lg-7 col-md-7 col-xl-7 col-xxl-7 col-sm-12 col-12 setPadding1">
            <h3 class="heade">
                American Auto Transports Auto Transport Safety Measures
            </h3>

            <p class="mt-3">
                When you need <a href="/car-shipping-service"><b>car shipping services</b></a> to move your vehicle from
                Florida to New York (And vice-versa), give us a call at (add number)
                or email us. We offer free and instant auto transport quotes. We
                would love for you to read our car shipping reviews, but in the
                meantime, call us immediately for the industry's cheapest auto
                transport rates.
            </p>
        </div>
        <div
            class="col-lg-5 col-md-5 col-xl-5 col-xxl-5 col-sm-12 col-12 d-flex justify-content-center align-items-center">
            <img src="../../assets/images/states-images/tracking.png" alt="img" class="w-100" />
        </div>
    </div>
</section>
<section class="container mt-5">
    <div class="row centerForMedium">
        <!-- <div
            class="col-lg-4 transx mb-auto text-center d-none d-lg-block col-md-3 col-xl-3 col-xxl-3 border-right border-top rounded bChange">
            <h3
                class="text-left mt-1 ms-0 d-flex justify-content-center text-white p-3 border-top border-right border-bottom">
                Our Other Services
            </h3>
            <div class="card bChange m-0 text-center">
                <a href="http://dev.americanautotransports.com/Motorcycle-Shipping">
                    <img class="card-img-top px-5 px-5 d-flex justify-content-center"
                        src="../../assets/images/states-images/R (3).png" alt="Card image cap" />
                </a>
                <div class="text-center card-body">
                    <h5 class="card-title text-nowrap text-center text-white opp">
                        Motorcycle Shipping
                    </h5>
                    <p class="card-text"></p>
                    <a class="btn text-nowrap bgCOLOR1" (click)="getQuote()">
                        Get a Quote
                    </a>
                </div>
            </div>

            <div class="card bChange m-0 px-5 d-flex justify-content-center">
                <a href="http://dev.americanautotransports.com/enclosed-autotransport">
                    <img class="card-img-top" src="../../assets/images/states-images/R (2).png" alt="Card image cap" /></a>
                <div class="card-body">
                    <h5 class="card-title text-nowrap text-white opp">
                        Car Shipping
                    </h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div> -->
        <div class="col-lg-12 col-md-12 col-xl-12 col-xxl-12 col-sm-12 col-12 mt-3">
            <div>
                <h3 class="stylishBorder text-center">
                    Get Our Instant Free Car Shipping Quote
                </h3>
                <div class="text-center"></div>
                <div class="row p-lg-3 d-flex justify-content-center">
                    <div class="col-lg-7 col-md-7 col-xl-7 col-xxl-7 col-sm-12 col-12">
                        <p>
                            When you need <a href="/car-shipping-service"><b>car shipping services</b></a> to move your vehicle from
                            Florida to New York (And vice-versa), give us a call at (add
                            number) or send us an email. We offer free and instant auto
                            transport quotes. We would love for you to read our car
                            shipping reviews, but in the meantime, call us immediately for
                            the industry's cheapest auto transport rates.
                        </p>

                        <div class="mt-5 d-flex justify-content-center align-items-center mb-3">
                            <div class="d-flex justify-content-center">
                                <div >
                                    <a class="btn d-none d-lg-block Call text-nowrap colorDark"
                                        href="tel:+1 (339) 237-3082">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-telephone d-xs-none" viewbox="0 0 16 16">
                                            <path
                                                d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                                        </svg>
                                        (339) 237-3082
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <img src="../../assets/images/states-images/truck6.jpg" class="w-100" alt="img" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="w-100 align-w3 py-3">
        <div >
            <span class="sub-title">Car Shipping Florida to New York - FAQs</span>
            <h4 class="w3pvt-title">Have Any Question?</h4>
        </div>
        <div class="accordion faq" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button acrd-btn" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Where do you stop driving from Florida to New York?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div itemprop="text">
                            <p>Top 10 Stops along the Way of Florida to New York:</p>
                            <ul>
                                <li>St. Augustine, FL.</li>
                                <li>The Biltmore Estate.</li>
                                <li>Savannah, GA.</li>
                                <li>George Washington's Mount Vernon.</li>
                                <li>Jersey Shore.</li>
                                <li>Jacksonville, FL.</li>
                                <li>Washington, D.C.</li>
                                <li>NASA Goddard Space Flight Center.</li>
                                <li>RALEIGH, NC</li>
                                <li>GEORGE WASHINGTON & JEFFERSON NATIONAL FORESTS</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        How do I ship my car from Florida to New York (and vice-versa)?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div itemprop="text">
                            <p>
                                Planning to ship a car from one state to another can be
                                time-consuming. Border crossings between two nations aren't
                                always easy, but our three-step approach makes it as
                                painless. Here is a quick and easy way to get your car
                                across the border:
                            </p>
                            <ul>
                                <li>
                                    Your vehicle will be taken by truck from your destination.
                                </li>
                                <li>An official will carry out a customs inspection.</li>
                                <li>
                                    Your vehicle is loaded onto a second truck and transported
                                    to its final destination.
                                </li>
                            </ul>
                            <p>
                                This three-step process ensures that your vehicle is
                                transported from one state to another lawfully and safely.
                                You have nothing to worry about because we have experience
                                with this process and will keep you updated at every step.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Where in Florida will my vehicle be picked up by the carrier
                        truck and delivered?
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div itemprop="text">
                            <p>
                                When you ship with American Auto Transports, shipping a
                                car to California is as simple as 1-2-3.
                            </p>

                            <p>
                                Step 1: Get a quick auto shipping quote and schedule a
                                pick-up time that works for you.
                            </p>

                            <p>
                                Step 2: Your vehicle gets picked up from a specified
                                location anywhere in the United States.
                            </p>
                            <p>
                                Step 3: Your vehicle is delivered to the place you specify
                                in California.
                            </p>
                            For further details and information, Call us at
                            <b> <a href="tel:+1 (339) 237-3082">(339) 237-3082</a> </b>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        Should I make an advanced car transport booking? How far ahead?
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div itemprop="text">
                            <p>
                                The driver or dispatcher will specify the pick-up and
                                delivery addresses. In most circumstances, our drivers will
                                be able to deliver directly to your front door. On the other
                                hand, side and residential streets frequently have limits on
                                large vehicles entering the area. In these cases, the driver
                                may request that you bring the vehicle to a site with a
                                large parking lot, such as a supermarket.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading8">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                        How can I pay for the auto transport service?
                    </button>
                </h2>
                <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div itemprop="text">
                            <p>
                                You can opt to pay the cost to ship a car from Florida to
                                New York via the most convenient method that suits you from
                                debit cards, credit cards, cash, and even PayPal.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</div>