.heading{
    font-weight: 600;
}
h3{
    font-weight: 600;
}
p{
    padding: 0;
    font-size: 16px;
    // letter-spacing: 1px;
    line-height: 1.9;
    color: #000;
}

ol li{
    padding-top: 10px;
}
.learn, .advantages, .what{
    padding-top: 30px
}
.advantages h5{
    padding-top: 20px;
    color: #000;
    font-weight: 600;
}
.inner-banner-w3ls {
    min-height: 500px;
    position: relative;
    z-index: 0;
}
.inner-banner-6 {
    background:linear-gradient(#ffffff59, rgba(255, 255, 255, 0)), url('../../assets/images/banners/banner6.jpg') no-repeat center;
    background-size: cover;
    box-shadow: 250px 250px 250px 250px #0000009e inset;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    position: relative;
    height: 600px;
    z-index: 1;
}
@media screen and  (max-width : 568px) {
    .inner-banner-w3ls {
        min-height: 250px;
    }
}