<div class="inner-banner-1 mt-70">
    <app-booking-request></app-booking-request>

</div>
<section class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-7 col-md-7 col-xl-7 col-xxl-7 col-sm-12 col-12 setPadding1">
            <h1>Maine Auto Transport</h1>
            <p>
                Maine is the country's northernmost state. Its rugged coast,
                millions of acres of forest, and several lakes suitable for fishing
                attract nature lovers and maritime enthusiasts practically all year.
                It's no surprise that over 25 million people visit the state each
                summer, given its reputation for seafood, lighthouses, and overall
                coastal appeal.
            </p>
            <p>
                Tourists come to Maine for more than just the warm-weather
                activities; the state has a rich history that must be seen and
                experienced. If you find yourself drifting north for a permanent
                move or a seasonal holiday, having a car will allow you drive up and
                down the coast to see, taste, and feel everything Maine has to
                offer.
            </p>
            <div>
                <p>
                    Many people also have to move from Maine as winters in Maine are
                    brutal, with temperatures seldom rising above freezing for months.
                    So you must engage with an auto shipping company that can
                    safeguard your significant investment.
                </p>
                <p>
                    Shipping an automobile is safer than driving long distances,
                    whether you are moving to or from Maine to another state, out of
                    the nation, or worldwide.
                </p>
            </div>

            <a class="btn bgCOLOR1" (click)="getQuote()"> Get a Quote </a>
        </div>

        <div class="col-lg-5 d-flex justify-content-center align-items-center">
            <img src="../../assets/images/states-images/Maine/Maine Auto Transport.png" class="w-100" alt="img" />
        </div>
    </div>
</section>

<section class="container s5">
    <div class="row">
        <div
            class="col-lg-5 col-md-5 col-xl-5 col-xxl-5 col-sm-12 col-12 d-flex justify-content-center align-items-center">
            <img src="../../assets/images/states-images/Maine/Best Maine Car Transport Company near me.png" class="w-100" alt="img" />
        </div>
        <div class="col-lg-7 col-md-7 col-xl-7 col-xxl-7 col-sm-12 col-12 setPadding1">
            <h3>
                Best Maine Car Transport Company near me:
            </h3>

            <p class="mt-3">
                Looking for a car shipping company in Maine? So you don’t have to
                look far, American Auto Transports is here at your service. We
                ship your car to/from Maine because we’re one of the best auto
                transport companies for the job.
            </p>
            <p>
                We can pick up your vehicle anytime and anywhere, from the rural
                country up north to the sunny beaches of Portland, thanks to
                thousands of reliable drivers and a 24/7 customer service network.
                Because Maine automobile shipping is one of our specializations, you
                can rely on us for all of your Maine auto transport needs. We ship
                automobiles safely and securely at a price that fits your budget.
            </p>
        </div>
    </div>
</section>

<section class="container mt-5 mb-5 text-center">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            <h2 class="text-grey">10,452 +</h2>
            <a>Satisfied Customers</a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            <h2 class="text-grey">16+ Years</h2>
            <a>Experience</a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            <h2 class="text-grey">20,000+</h2>
            <a>Drivers</a>
        </div>
    </div>
</section>

<section style="background-color: #f5e4ed">
    <section class="s11 container-fluid mt-0 checkthis text-white">
        <div class="p-3">
            <div class="d-block align-items-end mt-5">
                <h2 class="text-white text-center">
                    Maine Auto Shipping Services
                </h2>
                <p class="text-center text-white">
                    Our dependable vehicle carriers have a range of experience
                    delivering classic and luxurious automobiles. These are the
                    services that we use:
                </p>
            </div>
            <div class="row mt-5 setPadding1">
                <div class="col-lg-6 borderRightc">
                    <h3 class="text-white">Enclosed Auto Transport to Maine:</h3>
                    <div>
                        <p class="mt-2 text-white">
                            Maine's winters are notoriously cold and harsh. Temperatures
                            rarely get above freezing for months on end. That is why you
                            should engage with a Maine auto shipping company that
                            understands how to safeguard your important investment. You
                            may avoid damage from rain, hail, snow, cold temperatures, and
                            other elements by sending your vehicle via enclosed auto
                            transport. It is a wise investment to have your car sent to
                            Maine in an enclosed carrier.
                        </p>
                        <p class="text-white">
                            Our covered auto/vehicle transport trailers can preserve and
                            secure your very valued automobiles while transporting them to
                            their destination. We are more than just a specialty trailer
                            manufacturer. We strive to provide the greatest automobiles
                            and customer solutions possible; this is also crucial for our
                            associates.
                        </p>
                        <div class="d-flex justify-content-center align-items-center mb-3">
                            <div class="d-flex justify-content-center">
                                <div >
                                    <a class="btn d-none d-lg-block Call text-nowrap colorDark"
                                        href="tel:+1 (781) 562-3477">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-telephone d-xs-none" viewbox="0 0 16 16">
                                            <path
                                                d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                                        </svg>
                                        (781) 562-3477
                                    </a>
                                </div>
                                <div class="ms-1">
                                    <button class="btn text-nowrap bgCOLOR1" (click)="getQuote()">
                                        Get a Quote
                                    </button>
                                </div>
                            </div>
                        </div>
                        <p class="text-white">
                            American Auto Transports Enclosed Vehicle Transport Trailer
                            has put a beautiful, robust workhorse. We are well known for
                            manufacturing the most rugged, durable, and maximum payload
                            enclosed trailer shells.
                        </p>
                        <p class="text-white">
                            When exporting your car via enclosed auto transport, we have
                            two options:
                        </p>
                    </div>
                </div>

                <div
                    class="col-lg-6 d-block justify-content-center align-items-center col-md-12 col-xl-6 col-xxl-6 col-sm-12 col-12 transx">
                    <div class="text-center mt-4 mt-lg-0">
                        <img src="../../assets/images/states-images/car-auto-transport.jpg" class="w-100 rounded"
                            alt="img" />
                    </div>

                    <h5 class="text-white">Soft-Sided Enclosed Auto Transport —</h5>
                    <p class="text-white">
                        The strong canvas that covers the carriers protects your car
                        from wind-blown debris, rain, sleet, and snow, among other
                        things.
                    </p>
                    <h5 class="text-white">Hard-Sided Enclosed Auto Transport —</h5>
                    <p class="text-white">
                        In addition to the benefits afforded by soft-sided carriers,
                        hard-sided carriers protects your vehicle in the unlikely event
                        that it sustains damage during transit.
                    </p>
                </div>
            </div>
        </div>
        <section class="container mt-3 p-30">
            <div class="row mb-5">
                <div class="col-lg-4 mb-4 col-md-12 col-xl-4 col-xxl-4 m-auto col-sm-12 col-12 card111 setPadding1">
                    <div class="setPadding1 mt-4">
                        <h3 class="text-white" class="text-center">
                            Open Auto Transport to Maine:
                        </h3>
                        <p class="mt-5 text-white">
                            Are you considering using Open auto transport for your Maine
                            automobile transport needs? The open carriers are the same as
                            the double-decker car carriers used by dealerships. Your
                            vehicle will be protected with state-of-the-art equipment and
                            delivered to its destination within seven days after
                            departure. We provide Open auto shipment as a safe and
                            cost-effective way to ship your car, safeguarding it from road
                            vibration, excess mileage, and other factors.
                        </p>
                      
                    </div>
                </div>
                <div class="col-lg-4 mb-4 col-md-12 col-sm-12 m-auto col-12 card111 setPadding11">
                    <div class="setPadding1 mt-4">
                        <h3 class="text-white" class="text-center">
                            Door-to-Door Car Shipping to Maine:
                        </h3>
                        <p class="mt-3 text-white">
                            The most obvious option is the optional door-to-door car
                            transportation method, undeniably convenient. After giving you
                            an estimate, American Auto Transports relies on you to
                            provide a pick-up or drop-off location in Maine. We'll handle
                            the pick-up or delivery so you can sit back and relax at home.
                            Our skilled transport truck drivers will arrive at your
                            residence on the scheduled day to pick up or drop off your
                            automobile.
                        </p>
                        <div class="text-center">
                            <button class="btn text-nowrap bgCOLOR1" (click)="getQuote()">Get a Quote</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4 col-md-12 col-sm-12 m-auto col-12 card111 setPadding1">
                    <div class="setPadding1 mt-4 mb-5 mb-lg-0">
                        <h3 class="text-white" class="text-center">
                            Luxury Vehicle Transportation:
                        </h3>
                        <p class="mt-5 text-white">
                            When you're moving something as valuable as your luxury car in
                            Maine, you want to know it's in the right hands. American Auto Transports
                            Transport Solutions is your best option for Maine’s reliable,
                            professional, and secure luxury vehicle shipping services. We
                            Specialize in Luxury Vehicle Transportation.
                        </p>
                        <p class="text-white">
                            Consider using an enclosed vehicle carrier if you own a
                            vintage, exotic, antique, or premium car. This will protect
                            your vehicle from debris, bad weather, and even theft.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section style="background-color: #f5e4ed">
        <section class="container text-center">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-7 col-md-7 col-xl-7 col-xxl-7 col-sm-12 col-12 setPadding1">
                    <h2 class="text-center">Free Instant Quote:</h2>
                    <p>
                        Whether you live on the coast or far inland, car transportation
                        in Maine does not have to be a problem. All you need to do is
                        request a free instant quote, and American Auto Transports
                        will do the rest. Instead of researching potential
                        transportation companies, take a moment today to fill out our
                        quick quote form, and you'll be amazed you didn't choose us
                        sooner.
                    </p>

                    <a class="btn bgCOLOR1" (click)="getQuote()">
                        Get a Quote
                    </a>
                </div>

                <div class="col-lg-5 d-flex justify-content-center align-items-center">
                    <img src="../../assets/images/states-images/Maine/free instant quote.png" class="w-100" alt="img" />
                </div>
            </div>
        </section>
    </section>
</section>

<section class="container-fluid mt-5">
    <div class="row centerForMedium">
        <div class="col-lg-4 transx mb-auto text-center d-none d-lg-block col-md-3 col-xl-3 col-xxl-3 border-right border-top rounded"
            style="background-image: linear-gradient(to left, #533645, #502433)">
            <h3
                class="text-left mt-1 ms-0 d-flex justify-content-center text-white p-3 border-top border-right border-bottom">
                Our Other Services
            </h3>
            <div class="card m-0 text-center" style="
            background-image: linear-gradient(to left, #533645, #502433);
            border: none;">
                <a href="/Motorcycle-Shipping">
                    <img class="card-img-top px-5 px-5 d-flex justify-content-center"
                        src="../../assets/images/states-images/R (3).png" alt="Card image cap" />
                </a>
                <div class="text-center card-body">
                    <h5 class="card-title text-nowrap text-center text-white"
                        style="opacity: 1; padding: 10px; opacity: 0.9">
                       <a href="/Motorcycle-Shipping">Motorcycle Shipping</a> 
                    </h5>
                    <p class="card-text" style="opacity: 1"></p>
                    <a class="btn text-nowrap bgCOLOR1" (click)="getQuote()">
                        Get a Quote
                    </a>
                </div>
            </div>

            <div class="card m-0 px-5 d-flex justify-content-center" style="
            background-image: linear-gradient(to left, #533645, #502433);
            border: none;">
                <a href="/enclosed-autotransport">
                    <img class="card-img-top" src="../../assets/images/states-images/R (2).png"
                        alt="Card image cap" /></a>
                <div class="card-body">
                    <h5 class="card-title text-nowrap text-white" style="opacity: 1; padding: 10px; opacity: 0.9">
                       <a href="/enclosed-autotransport">Car Shipping</a>
                    </h5>
                    <p class="card-text" style="width: 18rem; opacity: 1"></p>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-9 col-xl-9 col-xxl-9 col-sm-9 col-12 mt-3">
            <div>
                <h3 class="stylishBorder text-center">
                    Shipping Cars to and from Maine:
                </h3>
                <div class="row p-lg-3 d-flex justify-content-center">
                    <div class="col-lg-7 col-md-7 col-xl-7 col-xxl-7 col-sm-12 col-12">
                        <p>
                            Maine, the northernmost state in the United States, is noted
                            for its rocky coastline, nautical history, and natural
                            features such as Acadia National Park's granite and spruce
                            islands. American Auto Transports Travel Solutions handles auto transport to
                            and from Maine daily.
                        </p>
                        <p>
                            Many of the hundreds of vehicles we've sent have passed
                            through "The Pine Tree State." Every week, we take public
                            transportation on any of the state's roadways as well as the
                            spiderweb of freeways that crisscross Maine's metropolitan
                            cities.
                        </p>
                        <div class="mt-5 d-flex justify-content-center align-items-center mb-3">
                            <div class="d-flex justify-content-center">
                                <div >
                                    <a class="btn d-none d-lg-block Call text-nowrap colorDark"
                                        href="tel:+1 (781) 562-3477">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-telephone d-xs-none" viewbox="0 0 16 16">
                                            <path
                                                d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                                        </svg>
                                        (781) 562-3477
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <img src="../../assets/images/states-images/Maine/Shipping Cars to and from Maine.png" class="w-100" alt="img" />
                    </div>
                </div>
            </div>

            <div class="container">
                <h4>Few Ways to locate our Car Shipping Services in Maine</h4>
                <div class="row d-flex justify-content-center">
                    <div class="p-0 col-lg-6 col-md-7 col-xl-5 col-xxl-5 col-sm-12 col-12">
                        <img src="../../assets/images/states-images/Maine/Few Ways to locate our Car Shipping Services in Maine.png" class="w-100 d-none d-md-block"
                            alt="img" />
                        <ul class="fw-light list-unstyled rounded-list p-0 p-lg-5" style="font-size: 20px">
                            <li><a>Car Shipping Maine</a></li>
                            <li><a>Auto Shipping Maine </a></li>
                        </ul>
                    </div>

                    <div class="col-lg-6 col-md-7 col-xl-7 col-xxl-7 col-sm-12 col-12 px-1 pt-lg-2 align-items-center">
                        <div >
                            <ul class="list-unstyled fw-light rounded-list p-0 p-lg-5" style="font-size: 20px">
                                <li><a> Car Transport Maine</a></li>
                                <li><a> Auto Transport in Maine</a></li>

                                <li><a> Auto Transport Ellswortha</a></li>

                                <li><a> Car Haulers Maine</a></li>

                                <li><a> Maine Auto Transport</a></li>
                                <li><a> Maine car shipping</a></li>
                                <li><a> Shipping to Maine</a></li>
                                <li><a> Car Shipping Ellsworth</a></li>
                                <li><a> Car Shipping Ellsworth ME</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="w-100 align-w3 mb-3 container">
    <div >
        <span class="sub-title">Frequently Asked Question</span>
        <h4 class="heading2">Have Any Question?
        </h4>

    </div>
    <div class="accordion faq" id="accordionExample">
        <div class="accordion-item">
            <h4 class="accordion-header" id="headingOne">
                <button class="accordion-button acrd-btn" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    How much does it cost to ship a car to Maine?
                </button>
            </h4>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div itemprop="text">
                        <p>
                            When estimating the cost of shipping a car to Maine, many factors come into play. These
                            include the distance, the size and kind of vehicle, the time of year, and the terrain
                            encountered.
                        </p>
                        <p>If you want an exact price for shipping an automobile to or from Maine, use our online
                            quotation calculator to obtain a free and immediate quote.</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="accordion-item">
            <h4 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Is it worth it to ship a car?
                </button>
            </h4>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div itemprop="text">
                        <p>
                            Yes, shipping a car is worthwhile when it saves you time and money while also removing the
                            worry of moving a vehicle. In 90% of cases, we can put a check mark next to each of these
                            three components that make exporting a vehicle worthwhile.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h4 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Can I put stuff in my car when I ship it?
                </button>
            </h4>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div itemprop="text">
                        <p>
                            The official answer is no. You cannot place items in your vehicle since any carriers or
                            brokers are not authorized to transport vehicles containing items.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h4 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    How long does vehicle transport to/from Maine take?
                </button>
            </h4>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div itemprop="text">
                        <p>
                            Shipping your car to or from Maine should take about two days if the distance is less than
                            200 miles. It could take 9 days to travel 2,000 miles or more. However, this is only a
                            guideline, and we do everything in our power to ensure that the delivery of your car is
                            speedy, efficient, and without delays.
                        </p>
                        <p>Several factors can influence how long an auto shipping firm can send an automobile to/from
                            Maine. Weather, distance, driver's hours, traffic, detours, road construction, and
                            seasonality are all factors to consider. Speedy shipping and guaranteed pick-up services are
                            available if you need your car delivered to or from Maine immediately.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h4 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    How do I ship my car to Maine?
                </button>
            </h4>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div itemprop="text">
                        <p>
                            Planning to ship a car from one state to another can be a time-consuming operation. Border
                            crossings between two nations aren’t always easy, but our three-step approach makes it as
                            painless as possible.
                        </p>
                        <p>Here is a quick and easy way to get your car across the border:</p>
                        <ul>
                            <li>Your vehicle will be taken by truck from your destination.</li>
                            <li>An official will carry out a customs inspection.</li>
                            <li>Your vehicle is loaded onto a second truck and transported to its final destination.
                            </li>
                        </ul>
                        <p>This three-step process ensures that your vehicle transported from one state to another
                            lawfully and safely. As always, you have nothing to worry about because we have experience
                            with this process and will keep you updated at every step.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h4 class="accordion-header" id="headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    What is the Bill of Lading, and what exactly does it have to do with my shipment?
                </button>
            </h4>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div itemprop="text">
                        <p>
                            The Bill of Lading is a vital document used by car shipping companies that records any
                            pre-existing damage on the vehicle at the time of collection. It also serves as a record of
                            your contact information and the legal transportation agreement. You will need the Bill of
                            Lading if you want to file an insurance claim for your cargo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>