<div class=" mt-70">
<div class="banner">
  <app-booking-request></app-booking-request>
</div>
<div class="container mt-70">
  <section class="single_grid_w3_main py-4" id="reviews">
    <app-reviews></app-reviews>
  </section>
  <section class="s3">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <h1 class="text-left">Car Shipping Arizona</h1>
          <div class="text-left">
            <p>
              Arizona is famous for being a hot and dry state because it is
              located in the southwest of the United States, with summer
              temperatures exceeding 115 degrees. What's truly remarkable
              about Arizona is that it also gets snow in the mountains near
              Flagstaff throughout the winter, no matter how hot it gets. It
              is also known as the Copper State and the Grand Canyon State.
            </p>
            <p>
              The state has around 7 million people and covers an area of
              approximately 113,998 square miles. On February 14, 1912,
              Arizona became the 48th state and the last contiguous state to
              be admitted to the union. Arizona is one of the most popular
              states for tourism, that’s why so many people pick Easy Auto
              Ship for auto shipping Arizona.
            </p>
            <div class="mb-4">
              <a class="btn bgCOLOR1" (click)="gerQuote()">
                Get a Quote
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="text-center">
            <img src="../../assets/images/states-images/arizona/Car Shipping Arizona.png" class="w-100" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container main mb-4">
    <div>
      <h2 class="mt-4">
        Why Choose American Auto Transports for Car Shipping Arizona?
      </h2>
      <p class="mt-3">
        When you need to export an automobile to or from Arizona, you need
        Arizona auto shipping specialists you can trust. American Auto Transports
        Solution is the best BBB-accredited, safest, most trustworthy, and
        most affordable auto shipping service to use. American Auto Transports
        Solution works to make auto transport as simple as feasible. Whether
        you're a repeat shipper or a first-time shipper, our skilled Shipping
        Specialists are here to ensure that your auto transport goes as
        efficiently as possible. You will also save time using American Auto Transports
        Transport Solution Auto Shipping Arizona. Let us handle the difficult
        part for you. Our team will keep you updated throughout the process
        and will be available to fix any issues that may arise, allowing you
        to sit back and relax.
      </p>
    </div>
  </section>
  <section class="container">
    <div class="container-fluid row">
      <div class="col-lg-7 col-md-12 centerrr col-sm-12 row flex-column">
        <div class="card col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="card-body transy">
            <h3 class="card-title">
              Best Car Transport Services near me in Arizona
            </h3>
            <p class="card-text">
              Are you looking for the best car shipping company in Arizona to
              send your vehicle? American Auto Transports solution is the best
              Arizona transport company for shipping to, from, and within the
              state. We are industry professionals, provide transparent quotes
              pricing, and, most importantly, we treat our customers with
              respect and honesty, whether we are carrying heavy equipment
              across Phoenix on a lowboy or sending your luxury car to Tucson
              in an <a href="/enclosed-autotransport"><b>enclosed carrier</b></a>. American Auto Transports Solution offers the
              experience, equipment, and people to get the job done perfectly
              every time.
            </p>
          </div>
        </div>
        <div class="card col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="card-body transy">
            <h3 class="card-title">
              Best Car Shipping Quotes Arizona
            </h3>
            <p class="card-text">
              American Auto Transports Solution has been arranging vehicle shipments
              for customers across the country. We offer competitive pricing
              based on real-time market data and historical trends to offer
              you the best quote possible. Get an instant Arizona shipping
              quote.
            </p>
          </div>
        </div>
      </div>
      <div class="ms-0.1 col-lg-5 col-md-12 col-sm-12 text-center p-0 align-self-center">
        <img src="../../assets/images/states-images/arizona/Best Car Transport Services near me in Arizona.png" class="img11" />
      </div>
    </div>
  </section>

  <section class="bg-services position-relative align-w3" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="services-bg-color text-center justify-content-between">
            <div class="title align-self-center">
              <h3>35% OFF For the next 24 hours</h3>
            </div>
            <div class="looking-btn col-lg-5">
              <a class="btn Call" id="btn-quote" href="tel:+1 (818) 760-5145"> <i class="fa fa-phone"></i>(818) 760-5145
              </a>
            </div>
            <!-- <div class="d-flex">
                <a href="about.html" class="btn w3ls-btn">Get Quote</a>
              </div> -->
          </div>
  
        </div>
      </div>
    </div>
  </section>
  <section class="container mt-4">
    <div class="row">
      <div class="col-lg-5">
        <div class="text-center">
          <img src="../../assets/images/states-images/arizona/Car Shipping Arizona.png" class="img2" />
        </div>
      </div>
      <div class="col-lg-7 transf">
        <h3 >Car Shipping Arizona:</h3>
        <p>
          When obtaining a car shipping quote, consider the following factors:
        </p>
        <ul class="list-unstyled">
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-tag"
              viewBox="0 0 16 16"
            >
              <path
                d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"
              />
              <path
                d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"
              />
            </svg>
            &nbsp; Diesel fuel prices at the time you want to send a vehicle.
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-geo-alt-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"
              />
            </svg>
            &nbsp; The distance you must travel to ship a vehicle to or from
            Arizona.
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-truck"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
              />
            </svg>
            &nbsp; Whether you require enclosed or open carrier shipping for
            your auto transfer, we can help.
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-aspect-ratio-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 12.5v-9A1.5 1.5 0 0 1 1.5 2h13A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5zM2.5 4a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 1 0V5h2.5a.5.5 0 0 0 0-1h-3zm11 8a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-1 0V11h-2.5a.5.5 0 0 0 0 1h3z"
              />
            </svg>
            &nbsp; The weight and dimensions of your vehicle will also
            influence the auto shipping quote.
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="container mt-4">
    <div class="row">
      <div class="col-lg-7 transx">
        <h3 >Cheapest Car Shipping Company:</h3>
        <p>
          When obtaining a car shipping quote, consider the following factors:
        </p>
        <p>
          Arizona residents trust American Auto Transports Transfer Solution to deliver
          high-quality car transport services. In addition, you will save
          money since American Auto Transports Solution Car Shipping is the cheapest
          <a href="/car-shipping-service"><b>car shipping</b></a> company
        </p>
        <div class="mb-4">
          <a class="btn bgCOLOR1" (click)="gerQuote()"> Get a Quote </a>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="text-center">
          <img src="../../assets/images/states-images/arizona/Cheapest Car Shipping Company.png" class="img3" />
        </div>
      </div>
    </div>
  </section>
  <section class="container mt-4">
    <div class="row">
      <div class="col-lg-5">
        <div class="text-center">
          <img src="../../assets/images/states-images/arizona/Car Delivery from State to State.png" class="img2" />
        </div>
      </div>
      <div class="col-lg-7 transf">
        <h3 >Car Delivery from State to State:</h3>
        <p>
          When obtaining a car shipping quote, consider the following factors:
        </p>
        <p>
          Whether you need your vehicle for an extended vacation or you are
          migrating to another location, you will appreciate the help of an
          Arizona American Auto Transports Solution provider. You can have your car
          shipped directly to you or a specified location. Your auto transport
          team will be there to carry your car delivery from state to state
          quickly and safely.
        </p>
      </div>
    </div>
  </section>
  <section class="container mt-4">
    <div class="text-center">
      <h3>American Auto Transports Safety Measures in Arizona:</h3>
      <div class="text-left">
        <p>
          <span 
            >A American Auto Transports company is legally required to deliver your
            vehicle in good condition. Our drivers will take several
            precautions to ensure that nothing terrible happens to it.</span
          >
        </p>
        <p>
          Each automobile is tied down and cannot move during transit. Beams
          protect it from extreme weather conditions, and enclosed carrier’s
          block eliminates such issues. Our truck's route is also carefully
          planned to avoid gravel roads and other regions that could damage
          the cargo.
        </p>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="w-100 align-w3 py-3">
      <div >
        <span class="sub-title">Frequently Asked Question</span>
        <h4 class="w3pvt-title">Have Any Question?</h4>
      </div>
      <div class="accordion faq" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button acrd-btn"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              How do I ship my car to Arizona?
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <div itemprop="text">
                <p>
                  Shipping a car to Arizona is simple when shipping with
                  American Auto Transports Solution.
                </p>
                <ul>
                  <li>
                    Step 1: Get a quick auto shipping quote and schedule a
                    pickup time that works for you.
                  </li>
                  <li>
                    Step 2 - Your vehicle gets picked up from a specified
                    location anywhere in the United States.
                  </li>
                  <li>
                    Step 3 - Your vehicle is delivered to the place you
                    specify in Arizona.
                  </li>
                </ul>
                <p>
                  American Auto Transports offers hassle-free
                  transportation of your motorcycle to your destination to
                  save you from all of this hassle.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              Is My Car Covered By Your Insurance?
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <div itemprop="text">
                <p>
                  Yes! When your vehicle arrives at the shipping area, examine
                  it for scratches, dings, or dents. If you see something that
                  wasn't there before, please let us know, and we'll assist
                  you in beginning the claims process. Our insurance policy
                  covers every vehicle we carry
                </p>
                <p>
                  You may decide that you need supplementary insurance for
                  exotic, antique, or luxury cars, which you should be able to
                  obtain from your insurance company. However, while our
                  coverage covers all vehicles, it may not cover the total
                  worth of your vehicle. If you have any queries, please do
                  not hesitate to contact us, please
                  <a href="/contact us">contact us</a> at
                  <b> <a href="tel:+1 (818) 760-5145">(818) 760-5145</a></b>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              What is the best motorcycle shipping company?
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="headingThree"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <div itemprop="text">
                <p>
                  The cost of shipping a car to Arizona is determined by where
                  the vehicle will be picked up and the time frame in which it
                  will be shipped. To get an accurate rate and carrier
                  availability for your cargo, use our online quote calculator
                  to instantly calculate your Arizona car shipping quotation.
                  What exactly are you waiting for? Call us at
                  <b> <a href="tel:+1 (818) 760-5145">(818) 760-5145</a> </b>
                  for <a href="/"> a quote</a> right away.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFour"
              aria-expanded="false"
              aria-controls="collapseFour"
            >
              What's the cheapest way to ship my car?
            </button>
          </h2>
          <div
            id="collapseFour"
            class="accordion-collapse collapse"
            aria-labelledby="headingFour"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <div itemprop="text">
                <p>
                  Open transport is still the most cost-effective way to ship
                  a car. Because <a href="/open-vehicle-transport"><b>open car carriers</b></a> can transport ten vehicles
                  at once, they are less expensive and easier to set up than
                  enclosed trailers. While enclosed trailers/carriers protect
                  from the elements and debris, they are usually more costly.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFive">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFive"
              aria-expanded="false"
              aria-controls="collapseFive"
            >
              How much does it cost to transport a car from Arizona to
              Illinois?
            </button>
          </h2>
          <div
            id="collapseFive"
            class="accordion-collapse collapse"
            aria-labelledby="headingFive"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <div itemprop="text">
                <p>
                  The average cost of shipping an automobile from Illinois to
                  Arizona is $915.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSix">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseSix"
              aria-expanded="false"
              aria-controls="collapseSix"
            >
              How much is it to ship a car from Arizona to Chicago?
            </button>
          </h2>
          <div
            id="collapseSix"
            class="accordion-collapse collapse"
            aria-labelledby="headingSix"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <div itemprop="text">
                <p>
                  The average cost of Car Shipping from AZ to Chicago, IL —is
                  $850.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          
          <div
            id="collapseSeven"
            class="accordion-collapse collapse"
            aria-labelledby="headingSeven"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <div itemprop="text">
                <p>
                  The average cost of Car Shipping from AZ to Chicago, IL —is
                  $850.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</div>